
html, body {
  margin: 0px;
  padding: 0px;
}

.productimg {
  height: 250px;
}

body, html {
  background-color: #32383e;
}

#topbar {
  a {
    color: white;
  }
  background-color: #32383e;
  color: white;
}

.bodybox {
  background-color: rgb(251, 231, 199);
  padding-bottom: 50px;
}

.border {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 18px;
  font-size: 25px;
}

.parallax {
  /* Set a specific height */
  margin-top: -1.5em;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parralax-home-reduced {
  background-image: url("/static/shopping/images/uni.jpg");
  height: 300px;
  .border {
    width: 470px;
    margin-left: -235px;
    letter-spacing: 10px;
    position: absolute;
    left: 50%;
    top: 20%;
  }
}

.parralax-home {
  background-image: url("/static/shopping/images/uni.jpg");
  height: 800px;
  .border {
    width: 470px;
    margin-left: -235px;
    letter-spacing: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.parralax-detail {
  background-image: url("/static/shopping/images/student.jpg");
  background-position-y: -285px;
  height: 500px;
}

.parralax-login {
  background-image: url("/static/shopping/images/unishop.jpg");
  background-position-y: -25px;
  height: 500px;
  .border {
    width: 350px;
    margin-left: -175px;
    letter-spacing: 10px;
    position: absolute;
    left: 50%;
    top: 450px;
  }
}

.parralax-register {
  background-image: url("/static/shopping/images/createaccount.jpeg");
  background-position-y: -5px;
  height: 420px;
  .border {
    width: 350px;
    margin-left: -175px;
    letter-spacing: 10px;
    position: absolute;
    left: 50%;
    top: 350px;
  }
}

.lead {
  font-size: 30px !important;
}

.container-fluid.detail {

  .productimg {
    margin-left: 50px;
  }
  padding-top: 50px;
  color: white;
  background-color: #32383e;

  .row {
    padding-bottom: 80px;
  }

}

.btn-unilisa {
  background-color: transparent;
  &:disabled {
    background-color: rgb(119, 106, 96);
  }
  &:hover {
    background-color: #007bff;
  }
  color: white;
  border-color: white;
}

.itembox {
  .card-header {
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(119, 106, 96);
    letter-spacing: 10px;
  }

  .card, .card-body {
    border-radius: 20px;
    background: #32383e;
  }
  color: white;

}

.login-box {
  width: 400px;
  text-align: left;
  position: relative;
  margin-left: -200px;
  left: 50%;
  top: 30px;
}

.footer {
  margin-top: 5px;
}

.login-label {
  color: white;

}

#searchform {
  float: left;
  height: 100%;
  input {
    padding: 0.1rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    border-color: white;
    background-color: white;
    width: 180px;
    margin-right: 15px;
  }
}
