<!-- Container element -->

{% if applyFilter == True %}
    <div class="parallax parralax-home-reduced">
{% else %}
    <div class="parallax parralax-home-reduced">
{% endif %}
<span class="border" style="text-align: center">Shopping Cart</span>
</div>


<div class="bodybox">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="width: 100%">
    </div>
    <div class="container">
        <div class="row">
            {% if cart_items|length == 0 %}
                <div class="col-sm-12">
                    <div style="text-align: center; font-size:30px;" >No items in your shopping cart.
                    </div>
                </div>
                {%else%}

            <div class="col-sm-12" style="margin-bottom: 50px;">
                <table id="cartlist">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    {% for item in cart_items %}
                        <tr>
                            <td>{{ item.product.item_name }} </td>
                            <td>{{ item.quantity }} </td>
                            <td> {{ item.product.price }} CHF</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="/shop/order" class="btn-lg btn-primary" style="margin-top: 30px;">Purchase for {{ order_sum }}
                    CHF</a>
            </div>
                {% endif %}
        </div>
    </div>
</div>
