<!- - Loads the path to your static files - - >
{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    {{ form.media }}
    <title>UniLisa Shop</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../shopping/static/shopping/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../shopping/static/shopping/style.css" type="text/css">
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>
</head>

<body>

<div id="topbar" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a style="text-decoration: none" href="/shop">UniLIsa Shop</a></h5>
    <nav class="my-2 my-md-0 mr-md-3" >
    <form method = "get" id="searchform" action="/shop">
     <input name = "search"  class="" style="margin-right:20px;" placeholder="Search..."/>
    </form>
    {% if loggedIn %}
    <a href="/shop/cart"><i style="font-size:25px;margin-top: 5px" class="fas fa-shopping-cart"></i> <span class="badge-pill badge badge-light">{{ shoppingCartItemCount }} item{%if shoppingCartItemCount != 1%}s{%endif%}
    {% endif %}
    </span></a>
         {% if subview != 'register' and not loggedIn %}
        <a class="btn btn-outline-primary btn-unilisa" style="margin-left: 10px;" href="/create/register/">Create Account</a>
         {% endif %}
    </nav>
    {% if subview != 'login' and not loggedIn %}
    <a class="btn btn-outline-primary btn-unilisa" href="/account/login">Login</a>
    {%  else %}
        {{ username }} &nbsp; <a  style="margin-left: 10px;" class="btn btn-outline-primary btn-unilisa" href="/shop/?action=logout">Logout</a>
    {% endif %}
</div>

{%if notification %}
   <div class="notification"> <h1> {{ notification  }}</h1> </div>
{%endif %}



{% if subview == 'overview' %}
    {% include "shopping/overview.html"  %}
    {% elif subview == 'cart' %}
    {% include "shopping/cart.html"  %}
    {% elif subview == 'detail' %}
    {% include "shopping/detail.html" %}
    {% elif subview == 'login' %}
    {% include "shopping/login.html"%}
    {% elif subview == 'register' %}
    {% include "shopping/register.html"%}
    {% elif subview == 'orderconfirmation' %}
    {% include "shopping/order_confirmation.html"%}
    {% elif subview == 'order' %}
    {% include "shopping/order.html"%}
{% endif %}


<div class="footer">
<img class="mb-2" src="/shopping/static/shopping/images/background.png?v1.1" alt="" width="200">
    </div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>


</body>
</html>

